<!DOCTYPE type>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="shorcet icon" href="">
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <!--header-->
        <header>
            <div class="header">
                <!--logo-->
                <div class="block_logo">
                    <h3>Django_portfolio</h3>
                </div>
                <!--search-->
                <div class="block_search">
                    <input type="text" placeholder="Поиск">
                    <button>Найти</button>
                </div>
                <!--account-->
                <div class="block_account">
                    <a href="{% url 'sing_up' %}" class="link_sung_up">Зарегистрироваться</a>
                    <a href="{% url 'sing_in' %}" class="link_sung_in">Войти</a>
                </div>
            </div>
        </header>
        <section>
            {% block sidebar %} 
                {% include 'service/sidebar.html' %}
            {% endblock %}
            <div class="connect">
            {% block connect %}
                <h1>{{ title }}</h1>
                <hr>
                <div class="block_post_list">
                    <a href="{% url 'add_post' %}" class="post_link_add">Добавить запись</a>
                    {% for post in posts %}
                        <div class="block_post">
                            <h3>{{ post.name }}</h3>
                            <div class="block_post_image">
                                <img src="{{ post.image.url }}" alt="" width="250"> 
                            </div>
                            <div class="block_post_text">
                                {{ post.text }}
                            </div>
                            <div class="block_post_time">
                                {{ post.created_at }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
            </div>
        </section>
        <!--footer-->
        <footer>
            <div class="footer"></div>
        </footer>
    </body>
</html>