{% extends 'service/index.html' %}
{% load static %}

{% block connect %}
    <h1>{{ title }}</h1>
    <hr>
    <div class="block_abulms">
        <h3>Альбомы</h3>
        {% for a in abulm %}
            <div class="blocks_abulm">
                {% if a.image %}
                    <img src="{{ a.image.url }}" alt="" class="image_abulm" width="200">
                    {% else %}
                    <h6>Фото не найдено</h6>
                {% endif %}
                <br><a href="" class="block_abulm_link">{{ a.name }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="block_music_new">
        <h3>Новая музыка</h3>
        {% for m in music %}
            <div class="blocks_music">
                <div class="block_music_img">
                    <img src="" alt="">
                </div>
                {{m.name}}
                <audio src="{{ m.track.url }}"></audio> 
            </div>
        {% endfor %}
    </div>
    <div class="block_music_bands">
        <h3>Исполнители</h3>
        {% for band in bands %}
            <div class="blocks_band">
                <img src="{{ band.image.url }}" alt="" class="img_band" width="200"><br>
                <a href="" class="blocks_band_link">{{ band.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
