{% extends 'service/index.html' %}
{% load static %}

{% block connect %}
    <h1>{{ title }}</h1>
    <hr>
    <div class="block_form_sing">
        <!--form-->
        <form action="" method="post" style="width: 800px">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрироваться</button>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert_danger">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        </form>
    </div>
{% endblock %}
